@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
@model FIT_Technology.Models.Entities.EmployeeEntity

<div class="text-center">
    <h1 class="display-4">従業員情報変更</h1>
    <form method="post">
        <table style="margin-left: auto; margin-right: auto; border:solid">
            <tr>
                <td style="border:solid">従業員コード</td>
                <td style="border:solid">@Model?.EmpCd</td>
                <input type="hidden" name="empcd" value="@Model?.EmpCd" />
                <td style="border:solid"></td>
            </tr>
            <tr>
                <td style="border:solid">氏名（漢字）</td>
                <td style="border:solid">
                    <input type="text" name="lastnm" value="@Model?.LastNm"/>
                    <br /><span asp-validation-for="LastNm" class="text-danger"></span>
                </td>
                <td style="border:solid">
                    <input type="text" name="firstnm" value="@Model?.FirstNm" />
                    <br /><span asp-validation-for="FirstNm" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td style="border:solid">氏名（カナ）</td>
                <td style="border:solid">
                    <input type="text" name="lastnmkana" value="@Model?.LastNmKana" />
                    <br /><span asp-validation-for="LastNmKana" class="text-danger"></span>
                </td>
                <td style="border:solid">
                    <input type="text" name="firstnmkana" value="@Model?.FirstNmKana" />
                    <br /><span asp-validation-for="FirstNmKana" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td style="border:solid">性別</td>
                <td style="border:solid">
                    <select name="gendercd">
                        @for (int i = 0; i < ViewBag.GenderInfo.Count; i++)
                        {
                            <option value="@ViewBag.GenderInfo[i].GenderCd" selected="@(Model?.GenderCd == ViewBag.GenderInfo[i].GenderCd)">@ViewBag.GenderInfo[i].GenderNm</option>
                        }
                        
                    </select>
                </td>
                <td style="border:solid"></td>
            </tr>
            <tr>
                <td style="border:solid">生年月日</td>
                <td style="border:solid">@Model?.BirthDate.ToString("yyyy年MM月dd日")</td>
                <input type="hidden" name="birthdate" value="@Model?.BirthDate" />
                <td style="border:solid"></td>
            </tr>
            <tr>
                <td style="border:solid">所属</td>
                <td style="border:solid">
                    <select name="sectioncd">
                        @for (int i = 0; i < ViewBag.SectionInfo.Count; i++)
                        {
                            <option value="@ViewBag.SectionInfo[i].SectionCd" selected="@(Model?.SectionCd == ViewBag.SectionInfo[i].SectionCd)">@ViewBag.SectionInfo[i].SectionNm</option>
                        }
                        
                    </select>
                </td>
                <td style="border:solid"></td>
            </tr>
            <tr>
                <td style="border:solid">入社日</td>
                <td style="border:solid">@Model?.EmpDate.ToString("yyyy年MM月dd日")</td>
                <input type="hidden" name="empdate" value="@Model?.EmpDate" />
                <td style="border:solid"></td>
            </tr>
        </table><br />
        <button type="submit" name="btn_action" value="result">変更</button>
        <button type="submit" name="btn_action" value="cancel">戻る</button>
    </form>

</div>