@model List<FIT_Technology.Models.Entities.EmployeeEntity>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>保有資格管理</h1>

    @* --- メッセージ表示エリア --- *@
    @if (ViewBag.ErrorMsg != null)
    {
        <div class="alert alert-danger text-center p-2" role="alert">
            <small>@ViewBag.ErrorMsg</small>
        </div>
    }

    <form action="/License/LicenseMenu" method="post">
      
        @* ↓ 一覧を表示する+従業員選択ボタンの仮の手書きテーブル *@

        <table class="table">
            <tr>
                <th>選択</th>
                <th>従業員コード</th>
                <th>氏名</th>
                <th>氏名（カナ）</th>
                <th>所属部署</th>
                <th>入社日</th>
            </tr>

            @* foreach構文*@
            @foreach (var item in Model)
            {
                <tr>
                    @* チェックボックスのvalueには、そのデータの資格コードを入力*@
                    <td><input type="radio" name="emp_code" value="@item.EmpCd"></td>

                    @* ループで取り出した「現在の1件分」のデータを表示*@
                    <td>@item.EmpCd</td>
                    <td>@(item.LastNm + " " + item.FirstNm)</td>
                    <td>@(item.LastNmKana + " " + item.FirstNmKana)</td>
                    <td>@(item.SectionCd)</td>
                    <td>@item.EmpDate.ToString("yyyy年MM月dd日")</td>
                </tr>
            }

           
        </table><br />

        
        

        <button type="submit" name="btn_action" class="btn btn-outline-primary" value="list">資格一覧表示</button><br />

        <button type="submit" name="btn_action" class="btn btn-outline-primary" value="insert">登録</button><br />

        <hr />
        <a href="/Account/Menu" class="btn btn-outline-secondary">トップメニューに戻る</a>

    </form>
</div>
